section.advertising
  .advertising__container._container

    - let images = ['./assets/img/t-shirt-red.png', './assets/img/t-shirt-pink.png', './assets/img/t-shity-black.png']
    - let titles = ['Акции- Новая серия', 'Успей до 10.04', 'Скидки до 45%'];
    - let texts = ['Мужские футболки с модными принтами в стиле Хайтек', 'Распродажа со скидками до 50%. Мужские футболки всех размеров.', 'На все футболки серии Лето 2019 при заказе от 2000 грн.'];

    - for (let i = 0; i < 3; i++)
      article.advertising-card
        img.article__img(src=images[i])
        .advertising-card__info
          h3.advertising-card__title
            a= titles[i]
          p.advertising-card__text= texts[i]
