footer.footer
  .footer__upper-floor
    .footer__upper-floor-container._container
      img(src="./assets/icon/logo-white.svg", alt="Logo").footer__logo
      nav.footer__about-company
        h3.footer__title О КОМПАНИИ
        ul.footer__list
          li.footer__list-item Доставка и оплата одежды
          li.footer__list-item Опт
          li.footer__list-item Политика конфиденциальности
          li.footer__list-item О Нас
      nav.footer__for-customers
        h3.footer__title ЗАКАЗЧИКАМ
        ul.footer__list
          li.footer__list-item Личный кабинет   
          li.footer__list-item Возврат товара 
          li.footer__list-item История заказов
          li.footer__list-item Обратная связь
          li.footer__list-item Закладки
      .footer__contacts 
        span.footer__phone-num +38 068 346 04 75
        span.footer__phone-num +38 066 400 38 14
        .footer__messengers-amd-social-medias
          nav.footer__messengers
            ul.footer__messengers-list
              li.footer__messengers-list-item
                a
                  img(src="./assets/icon/viber.svg", alt="viber-icon")
              li.footer__messengers-list-item
                a
                  img(src="./assets/icon/telegram.svg", alt="telegram-icon")
              li.footer__messengers-list-item
                a
                  img(src="./assets/icon/whatsapp.svg", alt="whatsapp-icon")
          span | 
          nav.footer__social-medias
            ul.footer__social-medias-list
              li.footer__social-medias-list-item
                a
                  img(src="./assets/icon/gmail.svg", alt="gmail-icon")
              li.footer__social-medias-list-item
                a
                  img(src="./assets/icon/facebook.svg", alt="facebook-icon")
              li.footer__social-medias-list-item
                a
                  img(src="./assets/icon/instagram.svg", alt="instagram-icon")
          
  .footer__lower-floor
    .footer__lower-floor-container._container
      .footer__lower-floor-content
          p © 2020 HECTOR Все права защищены
          p 
            a(href="#")  Политика конфиденциальности
            |
            a(href="#")  Условия продажи
      .footer__design-by
        span Design by
        img(src="./assets/icon/galaxy-it-logo.svg", alt="Design owner logo")