header.header
  .header__container._container 
    nav.header__left-nav
      ul.header__left-list
        li 
          a КАТАЛОГ
            img(src="./assets/icon/v.svg", alt="#")        
        li
          a SALE
        li
          a ОПТ
        li
          a О НАС
        li
          a ОТЗЫВЫ
        li
          a ДОСТАВКА И ОПЛАТА
        li
          a КОНТАКТЫ
          
    img(src="./assets/icon/logo-black.svg", alt="logo").header__logo

    nav.header__right-nav
      ul.header__right-list
        li
          a 
            img(src="./assets/icon/search.svg", alt="search")
        li
          a 
            img(src="./assets/icon/heart.svg", alt="heart")
        li
          a 
            img(src="assets/icon/cart.svg", alt="cart")
        li
          a 
            img(src="assets/icon/user.svg", alt="user")