section.news-and-reviews
  .news-and-reviews__container._container
    .news-and-reviews__tabs
      .news-and-reviews__news-tab.news-and-reviews__news-tab_active Новости
      .news-and-reviews__review-tab Отзывы
    .news-and-reviews__blocks
      article.new-block
        h3.new-block__title 
          | Тренды мужской одежды
          br
          | 2020
        p.new-block__text Распродажа коллекций со скидками до 50%, доставка до вашего склада
        button.button.button_white ЧИТАТЬ
      article.new-block
        h3.new-block__title
          | Тренды мужской одежды
          br
          | 2020
        p.new-block__text
        button.button.button_white ЧИТАТЬ
    button.button.news-and-reviews__button БОЛЬШЕ НОВОСТЕЙ