section.slider
  .slider__container._container
    .slider__info
      h1.slider__title МУЖСКАЯ КОЛЛЕКЦИЯ
      p.slider__description Распродажа коллекций со скидками до 50%, доставка до вашего склада
      button.button.slider__button ПОДРОБНЕЕ
    .slider__image-and-pages
      img(src='./assets/img/slider-look.png').slider__image
      .slider__pages 
        ul.slider__pages-list
          li.slider__page 01 
          li.slider__page.slider__page_active 02 
          li.slider__page 03 
          li.slider__page 04 