section.subscription
  .subscription__container._container
    h3.subscription__title Подпишись и следи за новыми поступлениями и акциями
    .subscription__social-medias
      img(src="./assets/icon/big-viber.svg", alt="Viber").subscription__viber
      img(src="./assets/icon/big-tg.svg", alt="Telegram").subscription__telegram
    form.subscription__form
      img(src="./assets/icon/phone.svg").subscription__phone-icon
      input(type="tel" placeholder="+38 (___) ___-___-__").subscription__input
      input(type="submit" value="ПОДПИСАТЬСЯ").subscription__submit-btn.button.button_black 
