section.subscription
  .subscription__container._container
    h3.subscription__title Подпишись и следи за новыми поступлениями и акциями
    .subscription__social-medias
      img(src="./assets/icon/big-viber.svg", alt="Viber")
      img(src="./assets/icon/big-tg.svg", alt="Telegram")
    form
      input(type="text" pattern="[+]{0,1}[0-9]{11}" placeholder="Введите номер телефона")
      input(type="submit" value="Подписаться")
