// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

* {
  margin: 0px;
}

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}

body {
  background-color: $bg-color;
}
