// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

* {
  margin: 0px;
}

:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}

body {
  background-color: $bg-color;
  font-size: 1.6rem;
  color: $text-color;
  min-height: 101vh; //! temporarily
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
