// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.wrapper {
  width: 100%;
  overflow: hidden;
}

._container {
  max-width: $max-width;
  margin: 0 auto;
  width: 100%;
}
