.wrapper {
  width: 100%;
  overflow: hidden;
}

._container {
  margin: 0 auto;
  max-width: $max-width;
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 1720px) {
  ._container {
    padding: 0 20px;
  }
}
