// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$max-width: 1684px;

$btn-border-color: #0f0f0f;
$bg-color: #fff;
$text-color: #0f0f0f;
