.advertising {
  background-color: $bg-section-color;
}

.advertising__container {
  display: flex;
  justify-content: space-between;
  padding-top: 29px;
  padding-bottom: 36px;
  flex-wrap: wrap;
  gap: 20px;

  @media (max-width: 1680px) {
    justify-content: space-around;
  }

  .advertising-card {
    display: flex;
    padding: 30px 30px 0px;
    width: 534px;
    height: 238px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: $bg-color;

    .article__img {
      position: relative;
      left: -20px;
      width: 100%;
      object-fit: cover;

      @media (max-width: 600px) {
        padding-right: 15px;
        left: 0;
        width: 140px;
      }
    }

    .advertising-card__info {
      .advertising-card__title {
        margin-top: 20px;
        font-size: 3rem;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 1px;

        @media (max-width: 600px) {
          margin-top: 0;
          font-size: 2rem;
          line-height: 20px;
          letter-spacing: 0;
        }
      }

      .advertising-card__text {
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 19.5px;
        letter-spacing: 1px;
        margin-top: 16px;
      }
    }
  }
}
