.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 152px;
  z-index: 1000;

  .head__burger {
    display: none;

    @media (max-width: 1300px) {
      display: block;
    }
  }

  .header__left-list {
    display: flex;
    justify-content: space-between;
    width: 735px;
    font-weight: 700;
    font-size: 1.4rem;
    letter-spacing: 1px;

    img {
      margin-left: 6px;
    }

    @media (max-width: 1300px) {
      display: none;
    }
  }

  .header__logo {
    position: absolute;
    display: block;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: 1720px) {
      position: static;
      transform: none;
    }

    @media (max-width: 620px) {
      position: static;
      transform: none;
      width: 90px;
    }
  }

  .header__right-list {
    display: flex;
    justify-content: space-between;
    width: 322px;

    @media (max-width: 620px) {
      width: 180px;
    }
  }
}
