doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body 
    .wrapper
      include modules/header.pug
      include modules/slider.pug
      include modules/advertising.pug
      include modules/cards.pug
      include modules/news-and-reviews.pug
      include modules/subscription.pug
      include modules/footer.pug

